<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/userNew.css" />
		<title>掲示板 -ユーザー情報編集-</title>
	</head>
	<body>

		<header th:replace="common::header">
		</header>

		<div class="error" th:if="${errorMessages}">
			<ul th:each=" errorMessage : ${errorMessages}">
				<li th:text="${errorMessage}"></li>
			</ul>
		</div>

		<div class="container">
			<div class="heading">
				<h2>ユーザー情報編集</h2>
			</div>

			<div class="main">
				<form th:action="@{/user/update/{id}(id=${formModel.id})}" th:method="put" th:object="${formModel}">
					<div class="account-form">
						<p>アカウント</p>
						<input class="form" type="text" name="account" th:value="${formModel.account}"/>
					</div>

					<div class="name-form">
						<p>名前</p>
						<input class="form" type="text" name="name" th:value="${formModel.name}"/>
					</div>

					<div class="pass-form">
						<p>パスワード</p>
						<input class="form" type="password" name="password" />
					</div>

					<div class="check-form">
						<p>確認パスワード</p>
						<input class="form" type="password" name="confirmPassword" />
					</div>

					<div class="branch-form">
						<p>支社</p>
						<select name="branch_id">
							<option value="1">本社</option>
							<option value="2">A支社</option>
							<option value="3">B支社</option>
							<option value="4">C支社</option>
						</select>
					</div>

					<div class="depart-form">
						<p>部署</p>
						<select name="department_id">
							<option value="1">総務人事部</option>
							<option value="2">情報管理部</option>
							<option value="3">営業部</option>
							<option value="4">技術部</option>
						</select>
					</div>

					<div class="button">
						<input class="post" type="submit" value="登録" />
						<button class="back" type="button" onclick="location.href='http://localhost:8080/user/index'">戻る</button>
					</div>
				</form>
			</div>
		</div>

		<footer th:replace="common::footer">
		</footer>

	</body>
</html>