<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>掲示板 -ユーザー管理-</title>
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/userIndex.css" />
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script th:src="@{/js/index.js}" defer="defer"></script>
	</head>
	<body>

		<header th:replace="common::header">
		</header>

		<div class="container">
			<div class="heading">
				<h2>ユーザー管理</h2>
			</div>

			<div class="main">
				<div>
					<form>
						<input class="register" type="submit" value="新規登録" formaction="/user/new" />
					</form>
				</div>

				<table class="user">
					<tr>
						<th>id</th>
						<th>アカウント</th>
						<th>ユーザー名</th>
						<th>支社</th>
						<th>部署</th>
						<th>ステータス</th>
						<th></th>
						<th></th>
					</tr>
					<tr th:each="user : ${users}" >
						<td th:text="${user.id}"></td>
						<td th:text="${user.account}"></td>
						<td th:text="${user.name}"></td>
						<div th:each="branch : ${branches}">
							<td th:if="${user.branch_id == branch.id}" th:text="${branch.name}"></td>
						</div>
						<div th:each="department : ${departments}">
							<td th:if="${user.department_id == department.id}" th:text="${department.name}"></td>
						</div>
						<div>
							<td th:if="${!user.is_stopped}">有効</td>
							<td th:if="${user.is_stopped}">無効</td>
						</div>
						<td>
							<a th:href="@{/user/edit/{id}(id=${user.id})}">
								<button class="edit" type="button">編集</button>
							</a>
						</td>
						<td>
							<!--  論理削除機能実装後に変更する-->
							<form th:action="@{/user/delete/{id}(id=${user.id})}" th:method="put">
								<input class="delete" th:if="${!user.is_stopped}" type="submit" value="退会"/>
								<input class="recovery" th:if="${user.is_stopped}" type="submit" value="復活"/>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<footer th:replace="common::footer">
		</footer>
	</body>
</html>