<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/login.css" />
		<link rel="stylesheet" href="/css/common.css" />
		<title>ログイン画面</title>
	</head>
	<body>

		<header th:replace="common::header">
		</header>

		<div class="error" th:if="${errorMessages}">
			<ul th:each=" errorMessage : ${errorMessages}">
				<li th:text="${errorMessage}"></li>
			</ul>
		</div>

		<th:block th:if="${#session}!=null">
			<th:block th:if="${#session.getAttribute('errorMessages')}!=null">
				<div class="errorMessages">
					<div class="errorMessage" name="errorMessage">
						<p th:each="errorMessage : ${#session.getAttribute('errorMessages')}" th:text="${errorMessage}"></p>
					</div>
				</div>
			</th:block>
			<th:block th:text="${#session.removeAttribute('errorList')}"></th:block>
		</th:block>

		<div class="container">
			<div class="heading">
				<h2>ログイン</h2>
			</div>

			<div class="main">
				<form th:action="@{/login}" method="post" th:object="${formModel}">
					<div class="account-form">
						<p>アカウント</p>
						<input class="form" type="text" name="account" th:value="${formModel.account}"/>
					</div>

					<div class="pass-form">
						<p>パスワード</p>
						<input class="form" type="password" name="password" th:value="${formModel.password}"/>
					</div>

					<div class="button">
						<input class="post" type="submit" value="ログイン" />
					</div>
				</form>
			</div>
		</div>

		<footer th:replace="common::footer">
		</footer>
	</body>
</html>