<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/userNew.css" />
		<title>掲示板 -ユーザー新規登録-</title>
	</head>
	<body>

		<header th:replace="common::header">
		</header>

		<div class="error" th:if="${errorMessages}">
			<ul th:each=" errorMessage : ${errorMessages}">
				<li th:text="${errorMessage}"></li>
			</ul>
		</div>

		<div class="container">
			<div class="heading">
				<h2>ユーザー新規登録</h2>
			</div>

			<div class="main">
				<form>
					<div class="account-form">
						<p>アカウント</p>
						<input class="form" type="text" name="account" th:value="${formModel.account}"/>
					</div>
					<div class="name-form">
						<p>名前</p>
						<input class="form" type="text" name="name" th:value="${formModel.name}"/>
					</div>
					<div class="pass-form">
						<p>パスワード</p>
						<input class="form" type="password" name="password" />
					</div>
					<div class="check-form">
						<p>確認パスワード</p>
						<input class="form" type="password" name="confirmPassword" />
					</div>

					<div class="branch-form">
						<p>支社</p>
						<select name="branch_id">
							<option th:each="branch : ${branches}" th:value="${branch.id}"
							th:text="${branch.name}" th:selected="${branch.id} == ${formModel.branch_id}"></option>
						</select>
					</div>

					<div class="depart-form">
						<p>部署</p>
						<select name="department_id">
							<option th:each="department : ${departments}" th:value="${department.id}"
							th:text="${department.name}" th:selected="${department.id} == ${formModel.department_id}"></option>
						</select>
					</div>

					<div class="button">
						<input class="post" type="submit" value="登録" formaction="/user/add" formmethod="post" th:object="${formModel}"/>
						<input class="back" type="submit" value="戻る" formaction="/" />
					</div>
				</form>
			</div>
		</div>

		<footer th:replace="common::footer">
		</footer>

	</body>
</html>