.header{
	display: flex;
	align-items: center;
	background-color: #595959;
	font-size: 25px;
	height: 80px;
	width: 100%
}

.header a {
	text-decoration: none;
}

.header a:link, a:visited, a:hover, a:active {
	color: white;
}

.title{
    font-size: 2em;
    font-weight: bold;
    width: 180px;
}

.header-link1 {
	font-size: 18px;
	width: 120px;
}
.header-link1:hover {
	text-decoration: underline;
}

.header-link2 {
	font-size: 18px;
	width: auto;
	margin-right: auto;
}
.header-link2:hover {
	text-decoration: underline;
}

.header-link3 {
	font-size: 18px;
	width: 120px;
}
.header-link3:hover {
	text-decoration: underline;
}


body{
	margin: 0;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.footer{
	display: flex;
	width: 100%;
	height: 80px;
	background-color: #595959;
	justify-content: center;
	align-items: center;
	/*  フッター周りの余白を消すために記述*/
}
footer p{
	color: white;
}