@charset "UTF-8";
.error{
	margin: 10px 20px 0;
	color: red;
	background-color: #f4cccc;
	border: 1px solid;
	border-color: #fc6464;
}

.error > ul{
  list-style-type: none;
}

header{
	background-color: #595959;
	font-size: 25px;
	height: 80px;
	line-height: 80px;
	width: 100%
}

header a {
	text-decoration: none;
}

header a:link, a:visited, a:hover, a:active {
	color: white;
}

header h1{
	margin: 0;
}

body{
	margin: 0;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
footer{
	width: 100%;
	height: 80px;
	background-color: #595959;
	text-align: center;
	/*  フッター周りの余白を消すために記述*/
}
footer p{
	color: white;
}

.heading{
	text-align: center;
	margin-top: 20px;
}

.main{
	margin: 20px 30px;
	padding: 30px;
	border: 1px solid;
	box-sizing: border-box
}

[class$="-form"]{
	margin-bottom: 10px;
}

input.form{
	width: 100%;
}

.button{
	padding-top: 5%;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
}

.post{
	width: 75px;
	color: #ffffff;
	background-color: #4285f4;
	border: solid 1px gray;
	border-radius:3px;
}
.post:hover{
	background-color: #407ce0;
}