@charset "UTF-8";
.error{
	margin: 10px 20px 0;
	color: red;
	background-color: #f4cccc;
	border: 1px solid;
	border-color: #fc6464;
}

.error > ul {
  list-style-type: none;
}

.heading{
	text-align: center;
	margin-top: 20px;
}

.main{
	margin: 20px 30px;
	padding: 30px;
	border: 1px solid;
	box-sizing: border-box
}

[class$="-form"]{
	margin-bottom: 10px;
}

textarea.text{
	width: 100%;
	height: 20vh;
}

input.form{
	width: 100%;
}

.button{
	padding-top: 5%;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
}

.back{
	width: 75px;
	border: solid 1px gray;
	border-radius:3px;
}
.back:hover{
	background-color: #e5e5e5;
}

.post{
	width: 75px;
	color: #ffffff;
	background-color: #4285f4;
	margin-right: 5%;
	border: solid 1px gray;
	border-radius:3px;
}
.post:hover{
	background-color: #407ce0;
}
