@charset "UTF-8";
.error{
	margin: 10px 20px 0;
	color: red;
	background-color: #f4cccc;
	border: 1px solid;
	border-color: #fc6464;
}
.error > ul {
  list-style-type: none;
}

.search{
	text-align: center;
	font-size: 14px;
}

.main{
	margin: 20px 30px;
	padding: 30px;
	border: 1px solid;
	box-sizing: border-box;
}

.message-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.message-header{
	display:flex;
	align-items: flex-end;
	border-bottom: 1px solid;
	width:90%;
}

.message-title{
	margin-left: 10px;
	font-size: 14pt;
	width: 60%;
}
.message-category-tag{
	font-size: 9pt;
}
.message-category{
	font-size: 9pt;
	margin-right: auto;
}
.delete-message{
}
.message-text{
	margin: 30px 0px 20px 10px;
	white-space: pre-wrap;
	font-size: 14pt;
	width: 100%;
}
.message-name{
	font-size: 9pt;
}

.message-date{
	font-size: 9pt;
}

.comment-container{
    margin: 10px 20px;
    padding: 5px 10px 0;
	border: 1px solid;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.comment-name{
	width:100%;
	font-size: 9pt;
}
.comment-text{
	margin: 10px 0px 0px 10px;
	white-space: pre-wrap;
	font-size: 12pt;
	width:100%;
}

.text{
	margin: 5px 10px;
}

.comment-form > p{
	margin-bottom: 0;
}
.comment-text-form{
	width: 100%;
	height: 20vh;
	border-radius:10px;
}
.comment-btn{
	width: auto;
	color: #ffffff;
	background-color: #4285f4;
	border: solid 1px gray;
	border-radius:3px;
}
input.form{
	width: 100%;
}

.button{
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
}
[class^="delete-"]{
	height: 25px;
	width: 45px;
	color: #ffffff;
	background-color: #ff0000;
	margin-right: 5%;
	border: solid 1px gray;
	border-radius:3px;
}
