@charset "UTF-8";
.heading{
	text-align: center;
	margin-top: 20px;
}

.main{
	margin: 20px 30px;
	padding: 30px;
	border: 1px solid;
	box-sizing: border-box
}

.register{
	margin: 5px;
	width: 100px;
	background-color: #ffe599;
	border: solid 1px gray;
	border-radius: 3px;
}
.register:hover{
	background-color: #ffdc76;
}

table{
	width: 100%;
	border-collapse: collapse;
}

table th{
	border-bottom: solid 2px black;
}

table td{
	border-bottom: solid 0.5px black;
	text-align: center;
	height: 35px;
}

.edit{
	height: 25px;
	width: 45px;
	color: #ffffff;
	background-color: #4285f4;
	margin-right: 5%;
	border: solid 1px gray;
	border-radius:3px;
}
.edit:hover{
	background-color: #407ce0;
}

.delete{
	height: 25px;
	width: 45px;
	color: #ffffff;
	background-color: #ff0000;
	margin-right: 5%;
	border: solid 1px gray;
	border-radius:3px;
}

.delete:hover{
	background-color: #ef0000;
}

.recovery{
	height: 25px;
	width: 45px;
	color: #ffffff;
	background-color: green;
	margin-right: 5%;
	border: solid 1px gray;
	border-radius:3px;
}

.recovery:hover{
	background-color: green;
