<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/common.css" />
		<title>ヘッダー・フッター</title>
		<th:block th:replace="${links} ?: _" />
	</head>
	<body>
		<div class="wrapper">
			<header th:fragment="header" class="header">
				<span class="title">
					<a href="/">たでお</a>
				</span>
				<th:block th:if="${loginUser}!=null">
					<th:block th:if="${loginUser.department_id==1}">
						<a class="header-link1" href="/user/index">ユーザー管理</a>
					</th:block>
				</th:block>
				<th:block th:if="${loginUser}!=null">
					<a class="header-link2" th:href="@{/message/new/}">新規投稿</a>
				</th:block>
				<th:block th:if="${loginUser}!=null">
					<a class="header-link3" th:href="@{/logout}">ログアウト</a>
				</th:block>
			</header>

			<footer th:fragment="footer" class="footer">
				<p>copyright © Tadeo. All Rights Reserved.</p>
			</footer>
		</div>
	</body>
</html>