<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/messageNew.css" />
		<title>掲示板 -新規投稿-</title>
	</head>
	<body>

		<header th:replace="common::header">
		</header>

		<div class="error" th:if="${errorMessages}">
			<ul th:each="errorMessage : ${errorMessages}">
				<li th:text="${errorMessage}"></li>
			</ul>
		</div>

		<div class="container">
			<div class="heading">
				<h2>新規投稿フォーム</h2>
			</div>

			<div class="main">
				<form th:object="${formModel}">
					<div class="title-form">
						<p>タイトル</p>
						<input class="form" type="text" name="title" th:value="${formModel.title}" />
					</div>

					<div class="text-form">
						<p>本文</p>
						<textarea class="text" name="text"  th:text="${formModel.text}"></textarea>
					</div>

					<div class="category-form">
						<p>カテゴリー</p>
						<input class="form" type="text" name="category" th:value="${formModel.category}" />
					</div>

					<input type="hidden" name="user_id" th:value="${formModel.user_id}"/>
					<div class="button">
						<input class="post" type="submit" value="投稿" formaction="/message/add" formmethod="post" th;object="${formModel}"/>
						<input class="back" type="submit" value="戻る" formaction="/" />
					</div>
				</form>
			</div>		</div>
		<footer th:replace="common::footer">
		</footer>
	</body>
</html>