<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/top.css" />
		<title>掲示板</title>
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script th:src="@{/js/top.js}" defer="defer"></script>
	</head>
	<body>

		<header th:replace="common::header">
		</header>

		<div class="error" th:if="${errorMessages}">
			<ul th:each=" errorMessage : ${errorMessages}">
				<li th:text="${errorMessage}"></li>
			</ul>
		</div>

		<th:block th:if="${#session}!=null">
			<th:block th:if="${#session.getAttribute('adminErrors')} != null">
				<div class="adminErrors">
					<p th:text="${#session.getAttribute('adminErrors')}"></p>
				</div>
				<th:block th:text="${#session.removeAttribute('adminErrors')}">
			</th:block>
		</th:block>

		<!-- 絞り込み機能 -->
		<div class="search">
			<form action="search" th:method="get">
				日付：<input type="date" name="start" th:value="${start}" />～<input type="date" name="end" th:value="${end}" />
				カテゴリ：<input type="text" name="category" th:value="${category}" />
				 <input type="submit" value="絞込" />
			</form>
		</div>

		<div class="container">
			<!-- 投稿ごとに表示 -->
			<th:block th:each="message : ${messages}">
				<div class="main">
					<div class="message-container">
						<div class="message-header">
							<!-- 投稿タイトル -->
							<span class="message-title" th:text="${message.title}"></span>
							<!-- 投稿カテゴリ -->
							<span class="message-category-tag">カテゴリー:</span>
							<span class="message-category" th:text="${message.category}"></span>
						</div>

						<!-- 投稿者だった場合、削除ボタンを表示 -->
						<div th:if="${loginUser.id} == ${message.user_id}">
							<form th:action="@{/message/delete/{id}(id=${message.id})}" th:method="delete">
								<input class="delete-message" type="submit" value="削除" />
							</form>
						</div>

						<!-- 投稿本文 -->
						<span class="message-text" th:text="${message.text}"></span>

						<!-- 投稿者 -->
						<th:block th:each="user : ${users}">
							<div th:if="${message.user_id} == ${user.id}">
								<div class="message-name">
									<span>投稿者:</span>
									<span th:text="${user.name}"></span>
								</div>
							</div>
						</th:block>

						<!-- 投稿日時 -->
						<div class="message-date" th:text="${message.updated_date}"></div>
					</div>
					<!-- コメントを表示 -->
					<th:block th:each="comment : ${comments}">
						<div th:if="${comment.message_id} == ${message.id}">
							<div class="comment-container">
								<!-- コメント投稿者 -->
								<th:block th:each="user : ${users}">
							 		<div th:if="${comment.user_id} == ${user.id}">
							 			<span class="comment-name comment-item" th:text="${user.name}"></span>
							 		</div>
								</th:block>

								<!-- コメント投稿者の場合削除ボタンを表示 -->
								<div th:if="${loginUser.id} == ${comment.user_id}">
									<form th:action="@{/comment/delete/{id}(id=${comment.id})}" th:method="delete">
										<input class="delete-comment comment-item" type="submit" value="削除" />
									</form>
								</div>

								<!-- コメント本文 -->
								<span class="comment-text comment-item" th:text="${comment.text}"></span>

							</div>
						</div>
					</th:block>

					<!-- コメント入力フォーム -->
					<div class="comment-form">
						<p>コメント入力フォーム</p>
						<form action="/comment/add" th:method="post" th;object="${formModel}">
							<input type="hidden" name="user_id" th:value="${loginUser.id}" />
							<input type="hidden" name="message_id" th:value="${message.id}" />
							<textarea class="comment-text-form" name="text" th:value="${formModel.text}"></textarea>
							<div class="button">
								<input class="comment-btn" type="submit" value="コメントする"/>
							</div>
						</form>
					</div>

				</div>
			</th:block>


			<!-- 一時的に非表示
			<table border="1">
				<tr>
					<th>ID</th>
					<th>内容</th>
					<th></th>
					<th></th>
				</tr>
					<tr th:each="message : ${messages}">
					<td th:text="${message.id}">
					<td th:text="${message.title}">
					<td th:text="${message.text}">
					<td th:text="${message.category}">
					<td>
						<form th:action="@{/message/delete/{id}(id=${message.id})}" th:method="delete" >
							<input class="delete-message" type="submit" value="削除" />
						</form>
					</td>
					<td>
						<form action="/comment/add" th:method="post" th:object="${formModel}">

							<!-- User機能作成後変更が必要です --
							<input type="hidden" name="user_id" th:value="${message.user_id}" />


							<input type="hidden" name="message_id" th:value="${message.id}" />
							<input type="text" name="text" th:value="${formModel.text}" />
							<input type="submit" value="コメント投稿" />
						</form>
					</td>
			</table>
			<div th:each="message : ${messages}">
				<div th:each="comment : ${comments}">
					<div th:if="${message.id} == ${comment.message_id}">
						<p th:text="${comment.text}">
						<form th:action="@{/comment/delete/{id}(id=${comment.id})}" th:method="delete">
							<input class="delete-comment" type="submit" value="削除">
						</form>
					</div>
				</div>
			</div>
			-->
		</div>

		<footer th:replace="common::footer">
		</footer>

	</body>
</html>